pre,
.markdown.topic-body blockquote,
#preview-panel blockquote,
img.xzl-topic-show,
.topic-body img {
    box-shadow: 2px 1px 20px 2px #aaa;
    margin-bottom: 30px !important;
    border-radius: 6px;
}

.markdown.topic-body pre code ul,
.markdown.topic-body pre code ol,
#preview-panel pre code ul,
#preview-panel pre code ol {
    margin: 0px 0px 0 0px !important;
    font-size: 14px;
}

.markdown.topic-body pre ul li,
.markdown.topic-body pre ol li,
#preview-panel pre ul li,
#preview-panel pre ol li {
    font-size: 14px !important;
}

.hljs-keyword,
.method,
.hljs-list .hljs-title,
.clojure .hljs-built_in,
.nginx .hljs-title,
.hljs-tag .hljs-title,
.setting .hljs-value,
.hljs-winutils,
.tex .hljs-command,
.http .hljs-title,
.hljs-request,
.hljs-status {
    color: #1f7dcd !important;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
    color: #c13737 !important;
}

.markdown a:link,
.markdown a:visited {
    color: #337ab7 !important;
    font-weight: bold !important;
}

.markdown.topic-body h1,
#preview-panel h1 {
    margin: 20px 0 20px !important;
}

h1 {
    padding-bottom: .3em;
    font-size: 2.25em !important;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7,
#section8,
#section9 {
    font-weight: bold !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: bold !important;
    line-height: 1.4;
    cursor: text;
    color: #444 !important;
    text-shadow: 0.05em 0.1em 0.1em #eee !important;
}

.markdown.topic-body li,
#preview-panel li {
    margin-bottom: 5px !important;
}

.markdown.topic-body pre.highlight,
.markdown.topic-body pre,
#preview-panel pre.highlight,
#preview-panel pre {
    margin-bottom: 40px;
}

.hljs ul,
pre code ul {
    list-style: decimal;
    background-color: #fafafa;
}

.markdown.topic-body pre.highlight,
.markdown.topic-body pre,
#preview-panel pre.highlight,
#preview-panel pre {
    background-color: #fafafa;
}

.markdown strong {
    color: #555 !important;
}

table {
    width: 100% !important;
}

.markdown.topic-body p img {
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}